  <h3 class="container text-center text-success">Employees List</h3> 
 <button class="btn btn-success float-end" routerLink="new">Add+</button> <br/>&nbsp;
&nbsp; &nbsp;

<!-- <p *ngIf="display; else other"> This is me when display is true</p>ng directive
<ng-template #other>
  <p class="text-danger">This is me when display is false</p>
</ng-template> -->
<!-- <button (click)="onDisplay()">click this</button> -->

<table class="table table-striped">  
  <thead >
    <tr class="table table-success">
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Salary</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of dataService.employees.data;">      
      <td>{{employee.id}}</td>
      <td>{{employee.firstName | titlecase}}</td>
      <td>{{employee.lastName| titlecase}}</td>
      <td>{{employee.salary| currency}}</td>
      <td>
        <!-- child -> parent event binding -->      
      <button class="btn btn-primary" (click)="onView(employee.id)">View</button>&nbsp;
      <button class="btn btn-warning text-light" routerLink="update/{{employee.id}}">Update</button>&nbsp; 
      <button class="btn btn-danger" (click)="onDelete(employee.id)">Delete</button>        
    </td> 
    </tr>     
  </tbody> 
</table>

<br/>
 <div> 
    <ng-template #noTable> 
      <h5 class="text-success">No result found!</h5>
    </ng-template>
    </div>
    
<div>
  <app-employee-detail ></app-employee-detail>
  <router-outlet></router-outlet>
</div>


